/* Common Shared Style */
body {
  font-family: "Lato", sans-serif;
}

.text-primary {
  color: #e55473;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  color: #fceef1;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
}
/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
 
}
.nav-title {
  color: #272727;
  font-size: 45px;
  font-weight: 900;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #272727;
}

/* header related style */
.header {
  background-color: #FCEEF1;
  
}


.banner {
 padding: 30px 30px 0px 150px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.banner .header-banner{
         width: 635px;
}
.banner-title{
     color: #272727;
     font-size: 80px;
     font-weight: 800;
     margin-bottom: 32px;
}
.banner-description{
    width: 634px;
}
.banner-content{   
     width: 708px;
}
     

/* Main section style */


/* Our Featured Flowers */
.featured{
 padding: 130px;
}
.section-title{
 color: #272727;
 text-align: center;
 font-family: Lato;
 font-size: 40px;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
}
.section-description{

 color: rgba(39, 39, 39, 0.60);
 text-align: center;
 font-family: Lato;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px;
}
.image-list{
 width: 464px;
 height: 538px;
 justify-content: space-between;
}